<!DOCTYPE html>

<html lang="{{LANGUAGE}}">

<head>

    <meta charset="utf-8">

    <title>ConveNews - {{PROFILE_TITLE}}</title>

</head>

<body>

    <header>

        <a href="{{CONVENEWS_URL}}">
            {{CONVENEWS_NAME}}
        </a>

    </header>

    <main>

        <section>

            <h1>{{PROFILE_TITLE}}</h1>

            <p>
                {{GENERATED_ON_LABEL}} {{GENERATION_DATE}}
            </p>

        </section>

        {{PROFILE_DETAILS}}

        <section>

            {{ARTICLES}}

        </section>

    </main>

    <footer>

        <p>{{ABOUT_TEXT}}</p>

        <p>

            <a href="{{ABOUT_URL}}">
                {{ABOUT_LINK_LABEL}}
            </a>

        </p>

    </footer>

</body>

</html>